.itemselection{
    width: 25vw;
    height: 25vw;
    background-color: black;
    display: solid;
    border-radius: 50px;
    margin-left: 5vw;
    object-fit: cover;
}

.categ{
    height: 00px;
}
.fooddescription{
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-top: 2px;
}
.main{
    
    height: 80vh;
}
.row1{
    top: 15vh;
    flex-direction: row;
    display: flex;
    margin-top: 300px;
    margin-left: 30px;
    opacity : 100;
    
}

.row2{
    flex-direction: row;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}
.row3{
    flex-direction: row;
    display: flex;
    margin-left: 30px;
    margin-top: 70px;
}
.row4{
    flex-direction: row;
    display: flex;
    margin-left: 30px;
    margin-top: 70px;
}

#chinese{
    left: 37.5vw;
}

#idc{
    left: 67.5vw;
}

#fast{
    left: 7.5vw;
}