.itemselection, .clicked{
    width: 25vw;
    height: 25vw;
    background-color: black;
    display: solid;
    border-radius: 50px;
    margin-left: 5vw;
    object-fit: cover;
}

.categ{
    height: 00px;
}
.fooddescription{
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    margin-top: 2px;
    font-weight: 700;
    margin-right: 10px;
}
.main{
    display: flex;
    flex-direction: column;
    height: 80vh;
}
.row1{
    flex-direction: row;
    display: flex;
    margin-top: 300px;
    margin-left: 30px;
    opacity : 100;
    
}

.row2{
    
    flex-direction: row;
    display: flex;
    margin-left: 30px;
    margin-top: 60vh;
}
.row3{
    flex-direction: row;
    display: flex;
    margin-left: 30px;
    margin-top: 60vh;
}
.row4{
    flex-direction: row;
    display: flex;
    margin-left: 30px;
    margin-top: 60vh;
}


#chinese{
    left: 37.5vw;
}

#idc{
    left: 67.5vw;

}

.clicked{
    outline-style: solid;
    outline-width: 10px;
    outline-color : #D90429;
}


#fast{
    left: 7.5vw;
}

#nextper{
    width : 40px;
}


.nextBB {
    width: 50%;
    position: absolute;
    left: 0;
    top: 20vh;
    align-items: left;
}

#next {
    width: 80%;
    text-align: right;
    padding: 20px 25px;
    margin: 0;
    border: #1F1F1F;
    border-radius: 30px;
    height: 60px;
    outline: #0F0F0F;
    outline-style: solid;
    font-size: 16px; 
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #1F1F1F;
    background-color: #E8e8e8;
    transition: 0.1s;
}

#next:hover {
    scale: 100%;
    background-color: #d0d0d0;;
}