#setupbox{
    opacity: 90%;
    width: 70vw;
    height: 70vh;
    background-color: #2B2D42;
    margin: auto;
    align-items: auto;
    top: 25%;
    position: absolute;
    left: 15%;
    border-radius: 50px;;
}
.finalBtn{
    right: 300px;
    position: absolute;
    bottom: 100px;

}

#arrowimg{
    height: 80px;
    object-fit: cover;
    color: white;
    fill : white;
}

#next-button{
    margin-left: 80px;
    margin-top : 50px;
    left: 80%;
    position: absolute;
    align: center;
    top: 35%;
    width: 0px;
    height: 0px;
    z-index: 0;
    background-color: #2B2D42;
    border: none;
}

#next-button:hover {
    opacity: 80%;
}

.listof {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 10%;
    top: 90%;
    display: flex;
    flex-direction: row;
}

.items {
    width: 60px;
    height: 10px;
    border-radius: 4px;
    border: none;
    background-color: #0F0F0F;
    margin: 0 10% 0 10%;
    align: center;
}

.items:hover {
    background-color: #696969;
}

.alltabs {
    font-size: 48px;
    color: #e8e8e8;
}

.tab1, .tab4 {
    margin-top: 0vh;
    font-size: 48px;
    color: #e8e8e8;
}

.tab2, .tab3 {
    margin-top: 40vh;
    font-size: 48px;
    color: #e8e8e8;

}
.tab2{
    margin-top : 20vh;
    width: 80%;
    border-radius: 25px;
    align-items: justify;
    align: justify;
    align-content: justify;
    align-self: justify;
    
}

.tab1{
    margin-top: 0%;
    font-size: 48px;
    color: #e8e8e8;
}


.checklist {
    margin: auto;
    background-color: #1F1F1F;
}


input[type="number"] {
    width: 30%;
    padding: 20px 32px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }

  input[type="number"] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type="number"]:focus {
    width: 40%;
  }

