#setupbox{
    opacity: 90%;
    width: 70vw;
    height: 60vh;
    background-color: #2B2D42;
    margin: auto;
    align-items: auto;
    top: 35%;
    position: absolute;
    left: 15%;
    border-radius: 50px;;
}


.dots{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color :white;
    margin-top: 450px;
    margin-left: auto;
    margin-right: auto;
    opacity: 100%;
    position: absolute;
    left: 50%;
}

#next-button{
    margin-left: 20px;
    left: 70%;
    position: absolute;
    align: center;
    top: 75%;
    width: 10%;
    height: 10%;
}
.finalBtn{
    margin-left: 40px;
    left: 90%;
    position: absolute;
    top:85%;
    height: 8%;
    background-size: 0;
    border-radius: 30%;
}
.nextBtn:hover{
    scale: 90%;
}

.select {
    position: absolute;
    left: 43%;
    width: 10vw;
    height: 10vw;
    top: 75%;
    display: flex;
    flex-direction: row;
}

.t {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color :black;
    margin-top: 450px;
    margin-left: auto;
    margin-right: auto;
    opacity: 100%;
    position: absolute;
}

.panel {
    position: absolute;
    width: 70vw;
    height: 10vw;
    top: 50%;
}